* {
    box-sizing: border-box;
}
.cont {
    margin: 50px auto;
    max-width: 300px;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

button {
    padding: 8px;
    border-radius: 40px;
    border: none;
    color: white;
    background: #494f51;
    transition: background 1s;
    &:hover {
        background: #e50413;
    }
    &:focus {
        outline: none;
    }
}

input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 40px;
    border: 1px solid #ccc;
    text-align: center;
    &:focus {
        outline: none;
    }
}
