.elsa-cont {
    position: relative;
    margin: 100px auto;
    width: 60vw;
    height: 60vw;
    max-width: 60vh;
    max-height: 60vh;

    .mask {
        position: absolute;
        top: 0;
        overflow: hidden;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        &.bg {
            background-image: linear-gradient(#f24b21, #f7b21e);
        }
        img {
            width: 130%;
            height: 130%;
            position: absolute;
            top: -15%;
            left: -15%;
        }
    }
}

/* elsa */
/* ****************************************** */
.elsa_surf {
    position: absolute;
    top: 25%;
    left: 20%;
    width: 85%;
    /* animacion*/
    animation-name: elsa;
    animation-duration: 2.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
/* The element to apply the animation to */
@keyframes elsa {
    50% {
        top: 28%;
        transform: rotate(7deg);
    }
}

/* waves */
/* ****************************************** */
.wave_dark_1,
.wave_dark_2,
.wave_light_1,
.wave_light_2,
.wave_light_3 {
    animation-name: wave;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.wave_dark_1 {
    animation-duration: 3.9s;
}
.wave_dark_2 {
    animation-duration: 3s;
}
.wave_light_1 {
    animation-duration: 3.7s;
}
.wave_light_2 {
    animation-duration: 3.5s;
}
.wave_light_3 {
    animation-duration: 3.3s;
}

@keyframes wave {
    0%,
    100% {
        top: -15%;
        left: -15%;
    }
    33% {
        left: -10%;
    }
    50% {
        top: -10%;
    }
}
/* bubble */
/* ****************************************** */
$bubbleSize: 7vh;

.bubble {
    position: absolute;
    bottom: 0;
    right: 0;
    height: $bubbleSize;
    width: 100%;
    display: block;
    animation: bubble_move 2s infinite;
    
    &:before {
        background: #01e1ff;
        border-radius: 50%;
        height: $bubbleSize;
        width: $bubbleSize;
        display: block;
        content: "";
        animation: bubble_size 2s infinite;
    }
}

@keyframes bubble_move {
    100% {
        transform: rotate(180deg);
    }
}
@keyframes bubble_size {
    60% {
        transform: scale(0, 0);
    }
}

// @for $i from 1 through 100 {
//     .bubble:nth-child(#{$i}) {
//         $size: random(30) + px;
//         height: $size;
//         width: $size;
//         animation-delay: -$i * 0.2s;
//         transform: translate3d((random(1000) * 1px), (random(1000) * 1px), (random(2000) * 1px));
//         background: hsl(random(360), 70%, 50%);
//     }
// }